{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis Mascotitas</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="box-border">
    <div class="flex h-screen">
      {% include 'base.html' %}
      <main class="w-full grid gap-y-10 bg-slate-100">
        <h1 class="justify-self-center self-end text-5xl">BORRAR DATOS</h1>
        <form
          enctype="multipart/form-data"
          action="/borrar/"
          method="POST"
          class="justify-self-center self-start w-1/2 grid place-items-center"
        >
          {% csrf_token %}
          <button
            type="submit"
            class="w-1/2 rounded-md bg-white px-2.5 py-2 text-xl font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          >
            Borrar Todo
          </button>
        </form>
      </main>
    </div>
  </body>
</html>
